<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>Chatting</title>
  </head>
  <body>
    <header class="top-header">
      <div class="header__top">
        <div class="header__column">
          <i class="fas fa-wifi"></i>
          <i class="fas fa-signal"></i>
        </div>
        <div class="header__column">
          <span class="header__time">Current Time</span>
        </div>
        <div class="header__column">
          <i class="fas fa-battery-full"></i>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__column">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="header__column">
          <span class="header_text">Mom</span>
        </div>
        <div class="header__column">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </header>
    <main class="chatroom">
      <div class="date__divider">
        <span class="date__divider__text">Sunday, April 19, 2020</span>
      </div>
      <div class="chat__message chat__message-to-me">
        <span class="chat__message-time">15:40</span>
        <span class="chat__message-text">How are you doing?</span>
      </div>
      <div class="chat__message chat__message-from-me">
        <span class="chat__message-time">15:41</span>
        <span class="chat__message-text">I'm doing really good.</span>
      </div>
      <div class="chat__box">
        <i class="far fa-plus-square"></i>
        <div class="chat__input">
          <input type="text" />
          <i class="far fa-laugh"></i>
        </div>
      </div>
    </main>
  </body>
</html>
