<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>KokoaTalk</title>
  </head>
  <body>
    <header class="top-header">
      <div class="header__top">
        <div class="header__column">
          <i class="fas fa-wifi"></i>
          <i class="fas fa-signal"></i>
        </div>
        <div class="header__column">
          <span class="header__time">Current Time</span>
        </div>
        <div class="header__column">
          <i class="fas fa-battery-full"></i>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__column">
          <span class="header__text">Friends</span>
        </div>
        <div class="header__column">
          <i class="fas fa-search"></i>
          <i class="fas fa-user-plus"></i>
          <i class="fas fa-cog"></i>
        </div>
      </div>
    </header>

    <main class="friends">
      <section class="myprofile__section">
        <header class="myprofile__section-header">
          <h5 class="myprofile__section-title">My Profile</h5>
        </header>
        <div class="myprofile__section-row">
          <a href="profile.html">
            <i class="fas fa-user-circle"></i>
            <span class="myprofile__section-name">Profile 1</span>
          </a>
        </div>
      </section>
      <section class="friends__section">
        <header class="friends__section-header">
          <h5 class="friends__section-title">Friends List</h5>
        </header>
        <div class="friends__section-row">
          <a href="profile.html">
            <i class="fas fa-user-circle"></i>
            <span class="myprofile__section-name">Profile 2</span>
          </a>
        </div>
        <div class="friends__section-row">
          <a href="profile.html">
            <i class="fas fa-user-circle"></i>
            <span class="myprofile__section-name">Profile 3</span>
          </a>
        </div>
      </section>
      <nav class="tab-bar">
        <a class="tab-bar__tab tab-bar__tab__selected" href="index.html">
          <i class="fas fa-user"></i>
        </a>
        <a class="tab-bar__tab tab-bar__tab__selected" href="index.html">
          <i class="fas fa-comment-dots"></i>
        </a>
        <a class="tab-bar__tab tab-bar__tab__selected" href="index.html">
          <i class="fas fa-ellipsis-h"></i>
        </a>
      </nav>
    </main>
  </body>
</html>
