<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <title>Profile</title>
  </head>
  <body>
    <header class="top-header">
      <div class="header__top">
        <div class="header__column">
          <i class="fas fa-wifi"></i>
          <i class="fas fa-signal"></i>
        </div>
        <div class="header__column">
          <span class="header__time">Current Time</span>
        </div>
        <div class="header__column">
          <i class="fas fa-battery-full"></i>
        </div>
      </div>
      <div class="header__bottom">
        <div class="header__column">
          <i class="fas fa-arrow-left"></i>
        </div>
      </div>
    </header>
    <main class="profile">
      <header class="profile__header">
        <div class="profile__header-container">
          <i class="fas fa-user-circle"></i>
          <h3 class="profile__header-name">Somebody</h3>
          <h4 class="profile__header-description">My profile is...</h4>
        </div>
      </header>
      <nav class="profile__tab__bar">
        <a class="profile__tab__bar__tab" href="chatroom.html">
          <i class="fas fa-comment-dots"></i>
        </a>
        <i class="fas fa-phone"></i>
      </nav>
    </main>
  </body>
</html>
