body {
  font-family: "Open Sans", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}

main {
  animation: 0.5s bodyPopin ease-in-out;
}

@keyframes bodyPopin {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

* {
  box-sizing: border-box;
}
